* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.default {
  width: 100%;
  min-height: 100vh;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

